.clear {
    background: transparent;
    border: none;
    color: white;
}
.solid {
    background: white;
    border: none;
    color: #1abc9c;
}
.outline {
    background: transparent;
    color: white;
    border: 1px solid white;
}
button:active {
    opacity: 0.1;  
}
button[disabled] {
    opacity: 0.9;
}
.error {
    background: #a53c3c;
    display:  none;
}