body {
    background: #1abc9c;
    height: 100vh; /*vh é altura da janela de vizualização e 100 vai ficar no meio da tela*/
}
form {
    width: 300px; 
}
input {
    border:none;
}
input, button { 
    padding: 10px; /* adicionar espaçamento interno ao campo selecionado*/
    width: -webkit-fill-available; /*valor preencha o espaco disponivel*/ 
}
.form-field {
    margin-bottom: 10px;
}
